



body {
	
	background: #E6E6E6 url(images/wrapper-bg.jpg) repeat;
	
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 190%;
}


/** WRAPPER */

#wrapper {
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header-wrapper {
	height: 161px;
	background: url(images/header-bg.png) repeat-x left top;
}

#header {
	overflow: hidden;
	width: 300px;
	height: 161px;
	margin: 0px auto;
}

/** LOGO */

#logo {
	height: 100px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
}

#logo h1 a {
	display: block;
	float: left;
	padding: 65px 0px 0px 0px;
	letter-spacing: -2px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #222222;
	font-size: 40px;
	color: #FFFFFF;
}

#logo p {
	float: right;
	padding: 85px 0px 0px 0px;
	text-shadow: 1px 1px 1px #222222;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #B5B5B5;
}




/** PAGE */

#page {
	overflow: hidden;
	width: 1070px;
	margin: 0px auto;
}

#page .bgtop {
	height: 5px;
	background: url(images/page-content-bg-01.png) no-repeat center top;
}

#page .bgbtm {
	height: 5px;
	background: url(images/page-content-bg-02.png) no-repeat center bottom;
}

#page .content-bg {
	overflow: hidden;
	padding: 20px 0px 50px 0px;
	background: url(images/page-content-bg-02.png) repeat-y center top;
}

/** CONTENT */

#content {
	float: left;
	width: 735px;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 335px;
}

#sidebar .title {
	display: block;
	width: 305px;
	height: 50px;
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 16px 0px 0px 30px;
	background: url(images/sidebar-title-bg.png) no-repeat right top;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
}









/** POST STYLE  */


.post {
	overflow: hidden;
}

.post .title {
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	letter-spacing: -2px;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #2E2E2E;
}

.post .date {
	overflow: hidden;
	float: left;
	width: 65px;
	height: 76px;
	margin: 10px 0px 0px 0px;
	padding: 5px 20px 0px 20px;
	background: url(images/post-date-bg.png) no-repeat left top;
	line-height: normal;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(71, 108, 115, 1);
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}



.post .entry {
	overflow: hidden;
	padding: 30px 75px 0px 110px;
}



/** BANNER */

#banner-wrapper {
	overflow: hidden;
	width: 970px;
	height: 325px;
	margin: 0px auto;
	padding: 20px 0px 0px 30px;
	background: url(images/banner-wrapper-bg.png) repeat-y left top;
}

#banner {
	width: 960px;
	height: 297px;
	position: relative;
	background: url(images/banner-image-border.jpg) no-repeat left top;
}

#banner .image, #banner .caption1, #banner .caption2, #banner .border {
	position: absolute;
}

#banner .image {
	width: 900px;
	height: 257px;
	top: 20px;
	left: 20px;
}


